# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Psalm Security Scan

on:
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ '**' ]
  schedule:
    - cron: '00 12 * * 6'
  workflow_dispatch:
permissions:
  contents: read


jobs:
  php-security:
    runs-on: ubuntu-latest
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'  
          extensions: gd
          tools: composer
          
      - name: Set up Python
        uses: actions/setup-python@v4.9.1
        with:
          python-version: '3.13'
        
      - name: Install dependencies
        run: composer install --no-progress --no-suggest --prefer-dist

      - name: Install Psalm
        run: composer require --dev vimeo/psalm
        
      - name: Run Psalm Security Scan
        run: vendor/bin/psalm --config=psalm.xml --stats --show-info=true --output-format=sarif --report=psalm.sarif --taint-analysis

      - name: Run Python Script        
        run: python Psalm_SARIF_Mapper.py psalm.sarif

      - name: Upload Security Analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: psalm_mapped.sarif
          
      - name: Upload SARIF as artifact    
        uses: actions/upload-artifact@v4
        with:
          name: sarif-artifact
          path: psalm_mapped.sarif
