name: Psalm Security Scan

on:
  workflow_dispatch:
  schedule:
    - cron: '00 12 * * 6'

permissions:
  contents: read

jobs:
  php-security:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up PHP with GD extension
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3' # Specify the PHP version you need
          extensions: gd # Install GD extension

      - name: Verify GD Extension
        run: php -m | grep gd # Check if GD extension is loaded

      - name: Install Composer Dependencies
        run: composer install --prefer-dist --no-progress --no-suggest --ignore-platform-req=ext-gd

      - name: Psalm Security Scan
        uses: psalm/psalm-github-security-scan@f3e6fd9432bc3e44aec078572677ce9d2ef9c287
        with:
          composer_ignore_platform_reqs: true

      - name: Upload Security Analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: results.sarif
